body{
    margin:0;
    background:#050505;
    color:white;
    font-family:Arial, sans-serif;
    display:flex;
    align-items:flex-start;
}


/* 배경 효과 */

body::before{
    content:"";
    position:fixed;
    inset:0;
    background:
    radial-gradient(circle at top,#123525 0%,transparent 45%);
    pointer-events:none;
}



/* 왼쪽 메뉴 */

.sidebar{

    width:250px;
    min-height:100vh;

    background:#080808;

    border-right:2px solid #00ff99;

    padding:20px;

    box-sizing:border-box;

    box-shadow:
    0 0 20px rgba(0,255,150,.25);

}



/* 로고 */

.logo{

    color:#8dffbf;

    font-size:24px;

    text-align:center;

    margin-bottom:30px;

    font-weight:bold;

    text-shadow:
    0 0 5px #00ff99,
    0 0 15px #00ff99;

}



/* 메인 */

.mainBox{

    width:800px;

    margin:50px auto;

    background:#090909;

    border:1px solid #00ff99;

    padding:40px;

    box-sizing:border-box;

    box-shadow:

    0 0 25px rgba(0,255,150,.2),

    inset 0 0 20px rgba(0,255,150,.05);

}



/* 버튼 */

button,
.deptBtn,
.menuButton{

    display:block;

    background:#080808;

    color:#9fffc9;

    border:1px solid #00aa66;

    padding:12px;

    margin:15px auto;

    width:260px;

    cursor:pointer;

    transition:.2s;

    font-size:15px;

}



button:hover,
.deptBtn:hover,
.menuButton:hover{

    background:#123b29;

    color:white;

    border-color:#00ff99;

    box-shadow:
    0 0 15px #00ff99;

}



/* 제목 */

h1{

    text-align:center;

    color:#7ef7b7;

    text-shadow:
    0 0 10px #00ff99;

}



h2{

    color:#9fffc9;

    border-left:4px solid #00ff99;

    padding-left:10px;

}



h3{

    color:#8dffbf;

}



/* 글 */

p{

    color:#d8ffe8;

    line-height:1.6;

}



/* 선 */

hr{

    border:none;

    border-top:1px solid #1f7d57;

}



/* 온라인 */

.online{

    color:#66ff99;

    font-weight:bold;

    text-shadow:
    0 0 8px #00ff99;

}



/* 기록 */

.recordBox{

    border:1px solid #00aa66;

    padding:20px;

    margin:15px 0;

    background:#090909;

}



/* 승인 */

.approvalBox{

    border:1px solid #26734d;

    padding:20px;

    background:#070707;

}



/* 경고 */

.warningBox{

    border:1px solid #ff4040;

    padding:20px;

    color:#ff7777;

    background:rgba(80,0,0,.2);

}



/* 사용자 정보 */

.userInfo{

    position:fixed;

    top:20px;

    right:20px;

    background:#080808;

    border:1px solid #00ff99;

    padding:15px;

    color:#9fffc9;

    box-shadow:0 0 15px rgba(0,255,150,.2);

}



/* 모바일 */

@media(max-width:900px){

body{

    display:block;

}


.sidebar{

    width:100%;

    min-height:auto;

}


.mainBox{

    width:auto;

    margin:20px;

    padding:25px;

}


.userInfo{

    position:relative;

    top:auto;

    right:auto;

    margin:20px;

}

}
